<!-- Footer start -->
<div class="footer">
    <div class="copyright">Реабилитационный сердечно-сосудистый центр Medzdrava © 2020</div>
    <ul class="socials">
        <li><a href="#"><img src="{{ url_for('static', filename = 'pics/face-icon.png') }}" alt=""></a></li>
        <li><a href="#"><img src="{{ url_for('static', filename = 'pics/insta-icon.png') }}" alt=""></a></li>
        <li><a href="#"><img src="{{ url_for('static', filename = 'pics/twitter-icon.png') }}" alt=""></a></li>
    </ul>
    <a class="email" href="mailto:medzdrava@gmail.com" class="email">medzdrava@gmail.com</a>
</div>
<!-- Footer end -->
