{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="vrach-top">
            <img src="{{ url_for('static', filename = 'pics/vrach-sample.png') }}" alt="">
            <div class="vrach-right-block">
                <div class="vrach-name">ИВАНОВ ИВАН ИВАНОВИЧ</div>
                <div class="vrach-bio">БИОГРАФИЯ ВРАЧА</div>
                <p><b>Специализация, должность:</b> врач-хирург, кандидат медицинских наук, генеральный директор.</p>
                <p><b>Категория:</b> высшая.</p>
                <p><b>Образование:</b></p>
                <li>1990-1998 гг. - Запорожский государственный медицинский университет.</li>
                <p><b>Стаж:</b> 30 лет</p>
            </div>
            <p>
                Специализируется на выполнени реконструктивных операций, включая микрохирургические пересадки комплексов тканей. Выполняет восстановительные процедуры методом липомоделирования.
            </p>
            <div class="skill-list">
                <b>Имеет обширный опыт в лечении таких болезней как:</b>
                <ul>
                    <li>Ишемическая болезнь сердца;</li>
                    <li>Миокардит;</li>
                    <li>Сердечная недостаточность;</li>
                    <li>Стенокардия;</li>
                    <li>Аритмия сердца;</li>
                    <li>Артериальная гипертензия;</li>
                    <li>Инфаркт миокарда и др.</li>
                </ul>
            </div>
            
        </div>
    </div>


{% include "_footer.html" %}
{% endblock %}